body {
    font-family: 'Gugi', cursive;
    background-image: url("../images/bg.jpg");
    background-attachment: fixed;
    background-size: cover;
}

header {
    background-color: rgb(15, 15, 15);
    color: rgb(235, 235, 235);
    font-family: 'Gugi', cursive;
    
    padding: 0px;
    
    position: fixed;
    z-index: 99;
    height: 70px;
    width: 100%;
   
}

hr {
    background-color: white;
}

a {
    color: rgb(238, 238, 238);
}

input {
    background-color: rgb(228, 228, 228);
}

@media (min-width: 992px) {

} 

.logo {
    height: 70px;
    width: 70px;
    float: left;
    padding-bottom: 0;
    
}

.GR {
    font-size:50px;
    padding-top: 5px;
    padding-bottom: 0;
    margin: 0;
}

#loginArea {
    padding: 10px;
    float: right;
}

.signIn {
    float: right;
    font-size: 12px;
    bottom: 500px;
    padding-bottom: 5px;
}

.newPost {
    position: fixed;
    top: 92%;
    left: 2%;
}

.productView {
    border-radius: 80px;
    background-color: rgb(19, 19, 19);
    padding: 0 0 5px 0;
    text-align: center;
    height: 80vh;
    width: 100%;
    position: sticky;
    top: 100px;
}

.productViewTitle {
    z-index: 99;
    padding: 0 5% 0 5%;
}

.productViewContent {
    margin: 0 30px 30px 30px;
    padding: 10px;
    z-index: 0;
    height: 80%;
    overflow-y: auto;
}

.userInput {
    float: right;
}

#userImage {
    height:150px;
    width: 200px;
    border-radius: 50px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
}

.signInUp {
    color: rgb(0, 222, 230);
    font-size: 17px;
    cursor: pointer;
}

#userImage {
    height: 200px;
    width: 300px;
}

.productInfo {
    font-size: 15px;
    color: rgb(240, 240, 240);
}

.prodTitle {
    color: rgb(238, 238, 238);
    padding-top: 20px;
}

.userRating, .userName {
    color: rgb(238, 238, 238);
}

.postButt {
    background-color: rgb(15, 15, 15);
    color: rgb(238, 238, 238);
    right: 10px;
    font-size: 20px;
}

.signInButt {
    font-size: 12px;
}

.whole {
    padding-top: 100px;
    z-index: 0;
}

.tileArea {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.itemImage {
    height: 160px;
    width: 160px;
    border-radius: 30px;
    border-color: black;
}

/*PRODUCT SECTION*/
.item {
    padding: 1%;
    color: rgb(0, 0, 0);
    margin: 0 0 20px 0;
}


.input-group-text {
    font-size: 200px;
}

.searchArea {
    
    
   
    
}

.searchInput {
    
    
}

.searchButton {
    
   background-color: black;
   color: white;
    
    
    
    
}

.jqHeadInput {
    font-size: 13px;
}

.props {
    font-size: 15px;
    color: white;
}

.back {
    color: rgb(230, 230, 230);
    float: right;
    padding-top: 0px;
    padding-bottom: 12px;
    font-size: 20px;
    padding-right: 10px;
    
    
    
}

.signOut {
    color: rgb(0, 222, 230);
    float: right;
    padding-bottom: 20px;
    padding-right: 10px;
    cursor: pointer;
    
}















/*SCROLLBAR STYLING*/
::-webkit-scrollbar {
    width: 1em;
    background-color: rgb(0, 0, 0);
    
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 66px rgb(19, 19, 19);
    
}
 
::-webkit-scrollbar-thumb {
    background-color: rgb(0, 46, 88);
  
  
  border-radius: 80px;
}




/*
    : url("https://thumbor.forbes.com/thumbor/960x0/https%3A%2F%2Fblogs-images.forbes.com%2Fforbes-finds%2Ffiles%2F2017%2F11%2F1-640.jpg");

    -: url("https://upload.wikimedia.org/wikipedia/commons/9/9a/Panasonic_SL-S250C_with_Philips_LC0305_20110106.jpg")

    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ3HIFt4t3rRdPtPuaYuJk34jbhRDEIvZqvOrLlAM1Al1VIQLTB");

    background-image: url("http://www.iheartsynths.com/wp-content/uploads/2014/02/minimoog.jpg");

   background-image: url("https://zfvg91lawb41hpzaf1icl6u8-wpengine.netdna-ssl.com/wp-content/uploads/2016/05/The-Best-Studio-Monitors.jpg");

    background-image: url("https://icdn2.digitaltrends.com/image/poster-for-5824603359001-720x720.jpg");

    background-image: url("https://cnet1.cbsistatic.com/img/JrscGpF4LeP-w1GDK14r8LH8cOA=/2013/03/15/70b992a2-fdc7-11e2-8c7c-d4ae52e62bcc/_DSC4052.jpg");

    background-image: url("https://img.letgo.com/images/4d/48/aa/c7/4d48aac7b3bcbacd3faa96196703abe9.jpeg?impolicy=img_600");

    background-image: url("https://masters-of-music.com/wp-content/uploads/2016/07/EZdrummer-2-Metal-Machine-560x410.jpg");

    background-image: url("https://dangerousmusic.com/wp-content/uploads/2019/02/D-BOX_Plus_FINAL-954x415.jpg");

    background-image: url("https://i.ytimg.com/vi/bqk-uaiiqd8/maxresdefault.jpg");
*/






